DATABASE_URL=postgresql+psycopg://<server_db_user>:<server_db_password>@<server_db_host>:5432/erik_brand_new_day
APP_ENV=production
DEBUG=false
API_HOST=0.0.0.0
API_PORT=8000
NEXT_PUBLIC_APP_NAME=Erik Brand New Day
